<h1>Welcome to <%=@cohort.name.capitalize%></h1>

      <%= button_to 'Create New Quiz', new_instructors_quiz_path, method: :get %>
      <%= button_to 'View all Quizzes ' , instructors_quizzes_path, method: :get %>
