<center>
<h1>Welcome to Quiz Creator</h1>

<TABLE BORDER="0">
<TR>

<TD><%= button_to "Instructor Login", '/login/instructor', method: "get", :class => :to_login_button, :id => :instructor_login %></TD>

<TD><%= button_to "Student Login", '/login/student', method: "get", :class => :to_login_button, :id => :student_login%></TD>

</TR>

</TABLE>
</center>
