<h1>Welcome to Quiz Creator</h1>

<%= button_to "Instructor Login", '/login/instructor', method: "get", :class => :button %>
<%= button_to "Student Login", '/login/student', method: "get", :class => :button %>

