<h1>These are the Quizzes!</h1>

<ul>
  <% @quizzes.each do |q| %>
    <li><%= q.name %></li>
  <% end %>
</ul>

<INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">
<%= button_to 'create new quiz', new_instructors_quiz_path, method: :get %>
<%= button_to 'Logout', logout_path, method: :delete %>
